[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
plotly = "*"
pyvisa = "*"
pathlib = "*"
pyqt6 = "*"
pyqt6-charts = "*"
pyqtgraph = "*"
python-dotenv = {extras = ["cli"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
